
.ruby-version
.tool-versions
#.rspec
.rspec.out
.errors
.bxsinfo.yaml
#.bxsenvs.yaml

*.swp

.vimrc
.viminfo
.vimgrep
.vimshorts
.vimmarks
.vimspec

tmp/*.db
tmp/*.log
tmp/*dump.json
.tmp.*

.notes.md
.todo.md

Gemfile.lock

pkg/

